<template>
  <div class="container-app">
    <div class="quiz">
      <div class="quiz__header">
        <h1>Quiz App</h1>
      </div>
      <div
        class="quiz__box box"
        v-for="(question, index) in questions.slice(a, b)"
        :key="index"
        v-show="quiz"
      >
        <div class="box__question">
          <h2>Question {{ b }}/{{ questions.length }}</h2>
          <p>{{ question.question }}</p>
        </div>
        <div class="box__answers">
          <ul class="box__list">
            <li
              v-for="(proposition, index) in question.propositions"
              :key="index"
              class="box__list-item"
              @click="selectResponse(proposition, question.id)"
              :class="correct ? check(proposition) : ''"
            >
              {{ proposition.props }}
            </li>
          </ul>
        </div>
      </div>
      <div class="box__score" v-if="score_show">
        <h2>Your score is</h2>
        <h2>{{ score }}/{{ questions.length }}</h2>
        <div class="box__button box__button_restart btn" @click="restartQuiz">
          Restart
        </div>
      </div>
      <div class="quiz__footer" v-if="displayFooter">
        <div class="box__button box__button_next btn" @click="nextQuestion()">
          Next
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      questions: [
        {
          id: "1",
          question: "What does API stand for?",
          propositions: [
            { props: "Application Programming Interface", correct: true },
            { props: "Apple Pie Inside" },
            { props: "Another Programming Interface" },
          ],
        },
        {
          id: "2",
          question:
            "Which one of these data structures follows the LIFO(Last In First Out) method?",
          propositions: [
            { props: "Queue" },
            { props: "Tree" },
            { props: "Stack", correct: true },
          ],
        },
        {
          id: "3",
          question:
            "What method adds an element to the end of a list in Python?",
          propositions: [
            { props: ".join()" },
            { props: ".add()" },
            { props: ".append()", correct: true },
          ],
        },
        {
          id: "4",
          question:
            "Which value of the target attribute opens a link in a new tab?",
          propositions: [
            { props: "_top" },
            { props: "_self" },
            { props: "_blank", correct: true },
          ],
        },
        {
          id: "5",
          question: "What is Git?",
          propositions: [
            { props: "A data type" },
            { props: "A non-relational data base" },
            {
              props: "A popular type of version control system",
              correct: true,
            },
          ],
        },
        {
          id: "6",
          question:
            "What is the name of a function that is passed as an argument to another function?",
          propositions: [
            { props: "Callback function", correct: true },
            { props: "Anynomous function" },
            { props: "Arrow function" },
          ],
        },
        {
          id: "7",
          question: "What does the A in RGBA stand for?",
          propositions: [
            { props: "Alpha", correct: true },
            { props: "Alphabetical" },
            { props: "Ancient" },
          ],
        },
      ],
      a: 0,
      b: 1,
      next: true,
      score_show: false,
      quiz: true,
      score: 0,
      correct: false, // desides if we should check answer and add class
      progress: 0,
      previousQuestion: null,
    };
  },
  name: "Quiz",
  computed: {
    displayFooter() {
      return this.progress < this.questions.length;
    }
  },
  methods: {
    selectResponse(answer, index) {
      this.correct = true;
      this.next = false;
      if (answer.correct && this.previousQuestion !== index) {
        this.score++;
        this.previousQuestion = index;
      }
    },
    check(status) {
      if (status.correct) {
        return "correct";
      } else {
        return "incorrect";
      }
    },
    nextQuestion() {
     this.progress = this.progress + 1;
      if (this.questions.length - 1 == this.a) {
        this.score_show = true;
        this.quiz = false;
      } else {
        this.a++;
        this.b++;
        this.correct = false;
        this.next = true;
      }
      console.log(this.$data)
      console.log(this)
    },
    restartQuiz() {
      Object.assign(this.$data, this.$options.data()); // reset data to initial values
      
    },
  },
};
</script>

<style>
.container-app {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.quiz {
  display: flex;
  width: 60%;
  height: 70vh;
  background-color: #fff;
  text-align: center;
  flex-direction: column;
  border-radius: 15px;
  margin: 5% auto;
}

.quiz__header {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  background-color: #ddd0df;
  border-radius: 15px 15px 0px 0px;
}

.quiz__box {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: auto;
}

.box__answers {
  display: flex;
  justify-content: center;
}

.box__list {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.box__list-item {
  list-style: none;
  margin-bottom: 10px;
  line-height: 2;
  border: 1px solid #ddd0df;
  border-radius: 5px;
  cursor: pointer;
  /* transition: 0.5s; */
}

li:hover {
  background-color: #ddd0df;
}

.quiz__footer {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  background-color: #ddd0df;
  border-radius: 0px 0px 10px 10px;
}

li.correct {
  border: 1px solid rgb(74, 219, 74);
  background-color: rgb(74, 219, 74);
  color: white;
  font-weight: 600;
}

li.incorrect {
  border: 1px solid rgb(240, 117, 100);
  background-color: rgb(240, 117, 100);
  color: white;
  font-weight: 600;
}

.btn {
  width: 100px;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(69, 73, 105);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #a09f9ff5;
  /* transition: 0.3s; */
}

.box__button_next {
  width: 100px;
  height: 20px;
  margin: 8px;
}
@media screen and (max-width: 900px) {
  .quiz {
    width: 60%;
  }
}

@media screen and (max-width: 720px) {
  .quiz {
    width: 90%;
    height: 100vh;
  }
  .quiz__footer {
    height: 300px;
  }
}
</style>
