<template>
<div>
  <Quiz />
</div>

</template>

<script>
import Quiz from './components/Quiz.vue'

export default {
  name: 'App',
  components: {
    Quiz
  }
}
</script>

<style>
body {
  margin: 0;
  background-color: rgb(69, 73, 105);
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 10px;
}

.title {
  color: #ffff;
}
</style>
